<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
          <h1>Столовая</h1>
          {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }}
                {{ current_user.surname }} {{ current_user.grade}}</a>
          {% else %}
            <a class="btn btn-primary " href="/register_user">Зарегистрировать ученика</a>
            <a class="btn btn-primary " href="/register_admin">Зарегистрировать админа</a>
            <a class="btn btn-success" href="/login">Войти</a>
          {% endif %}
      </nav>
        <a class="navbar-brand" href="#">Вкусно</a>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>