{% extends "base.html" %}

{%block content %}
<h1>Добавление заказа</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
        {{ form.pause.label }} <br>

        {{ form.pause(class="form-control", type="pause") }}
        {% for error in form.pause.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}

        {{ form.meal.label }} <br>
        {{ form.meal(class="form-control", type="meal") }}
        {% for error in form.meal.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}

    <br>
    {{ form.submit(type="submit", class="btn btn-primary") }}
    {{message}}

</form>
{% endblock %}